/.ddev/.env
/.ddev/milvus/
/.devpanel/dumps/
/.devpanel/salt.txt
/.editorconfig
/.gitattributes
/.vscode/
/byte/
/CODEOWNERS
/composer.json
/composer.lock
/config/
/cpanel_template/
/custom_recipes/
/dev.composer.json
/drupal-ai-demo-brief_v3.md
/drupal_cms_helper/
/logs/*
/MAINTAINERS.txt
/MODULES.md
/patches/
/patches.lock.json
/private/
/project_template/
/prompt_examples/
/Prompts_v4-(3 Different Landing Pages).md
/README.md
/recipes/
/recommended.yml
/Scripts.php
/splitter/
/vendor/
/web/
