/.devpanel/dumps/
/.devpanel/milvus/
/.devpanel/salt.txt
/.editorconfig
/.gitattributes
/.vscode/
/byte/
/CODEOWNERS
/composer.json
/composer.lock
/config/
/cpanel_template/
/custom_recipes/
/dev.composer.json
/drupal-ai-demo-brief_v3.md
/drupal_cms_helper/
/logs/*
/MAINTAINERS.txt
/MODULES.md
/patches/*
!/patches/canvas/
/patches/canvas/*
!/patches/canvas/block-selection.patch
!/patches/canvas/hidden-components.patch
!/patches/canvas/template-agent.patch
/patches.lock.json
/private/
/project_template/
/prompt_examples/
/Prompts_v4-(3 Different Landing Pages).md
/recipes/
/recommended.yml
/Scripts.php
/splitter/
/vendor/
/web/
